{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}
{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
{{ form_row(form.biography) }}
{{ form_row(form.photo) }}

<button type="submit" class="btn">Créer</button>
{{ form_end(form) }}
